.line {

    margin-bottom: 15px;
}

.text {

    margin-bottom: 15px;
}

.list {

    margin-bottom: 15px;
}

.active {
    
    color: blue;
    
}

.icon {

    display: flex;
    align-items:baseline;
    margin-right: 5px;
    
}

.linkGoBack {

    display: flex;
    text-decoration: none;
}